<div class="main">
    <div class="row">
        <div class="colum" *ngFor="let datum of nftObj" style="padding: 20px;">
            <div class="img-block">
                <img src="https://gateway.pinata.cloud/ipfs/{{datum.image}}" class="img">
            </div>
            <p class="name">{{datum.name}}</p>
            <div class="price-row">
                <p class="col-1">
                    <span>{{datum.address | slice:0:20}}...</span>
                </p>
                <p class="col">
                    <span>{{datum.price}} ETH</span>
                </p>

            </div>
            <div class="colum-2">
                <form [formGroup]="bid" (ngSubmit)="onBidding(datum)">

                    <div class="colum-3">
                        <input type="number" formControlName="bidding" class="no form-control"
                            placeholder="Enter Price">
                        <button class="btn btn-dark text-white sell-btn">BID</button>
                    </div>
                </form>
                <div class="details">
                    <span class="txt">Highest Bid: {{datum.highestBid}}</span>
                    <span class="txt">Over At: {{datum.timestamp}} </span>

                </div>
            </div>

        </div>
    </div>
</div>