<div class="main">
    <div class="row">
        <div class="colum" *ngFor = "let datum of nftObj" style="padding: 20px;" >
            <div class="img-block">
                <img src="https://gateway.pinata.cloud/ipfs/{{datum.image}}" class="img">
            </div>
            <p class="name">{{datum.name}}</p>
            <div class="price-row">
                <p class="col-1">
                    <span>{{datum.address | slice:0:20}}...</span>
                </p>
                <p class="col">
                    <span>{{datum.price}} ETH</span>
                </p>

            </div>  
            <div class="description">
                <p class="col2">
                    Description : 
                </p><p class="txt">{{datum.description}}</p>
            </div>
            <div class="butn">
            <button class="btn btn-dark text-white" (click)="onBuy(datum)">BUY NFT</button>
        </div>
        </div>
    </div>
</div>