.main {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    /* background-color:blanchedalmond; */
    /* border-color: black; */
    /* gap: 10px; */



}

.colum {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 25%;
    border-width: 5%;
    height: 600px;
    border-spacing: 20%;
    border: 1px solid lightslategrey;
    border-style: outset;
    /* border-color: black; */
    align-items: center;
    margin-bottom: 5px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

}

.img {
    border: 12px;
    border-style:double;
    width: 100%;
    object-fit:fill;
    float: left;
    height: 300px;
}

.img-block{
    display: flex;
    width: 100%;
}

.name {
    font-weight: 800;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 30px;
    text-decoration:underline;
}

.price-row {
    display: flex;
    background-color: blueviolet;
    width: 100%;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 25px;
    height: 50px;
    border: 3px;
    border-style:solid;

}

.col-1 {
    background-color: chocolate;
    align-items: flex-start;
    text-size-adjust: inherit;
    width: 75%;
    overflow-wrap: break-word;
    height: 100%;
    text-align: center;
    font-size: 30px;
    border-right: 3px;
    border-right-style: solid;
}

.col {
    align-items: flex-end;
    /* width:20%; */
    font-size: 30px;
    margin-left: 2px;
    text-align: center;
    

}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 150px;
}

.col2 {
    width: 45%;
    align-items: flex-start;
    overflow-wrap: break-word;
    height: 100%;
    text-align: left;
    font-size: 30px;
    /* margin-left: 5px; */
    margin-top: 10px;
    font-family: fantasy;
    font-variant: small-caps;
    font-weight: 700;
    /* text-decoration:underline; */
}

.txt {

    margin-left: 10px;
    width: 75%;
    height: 100%;
    overflow-wrap: break-word;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    margin-top: 18px;
    font-weight: 550;


}

.butn {
    
    justify-content: center;
    width: 100%;
    display: flex;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15%;
    /* margin-top: 15px; */

    /* background-color: transparent; */
    /* background: darkslategrey; */
    font-family: fantasy;
    font-weight: 700;
    font-size: 20px;
    border-color: transparent;
}