<div class="main-contain">
    <h4 class="text">Create New NFT</h4>

    <div class="contain">
        <form [formGroup]="createNft" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group1">
                <label for="filecontrol">Upload Files</label>


                <div id="hide" class="button">
                    <label class="hand-cursor">
                        <input type="file" nv-file-select uploader="$ctrl.uploader" name="image" (change)="onFileSelect($event)"
                            enctype="multipart/form-data" accept=".jpeg,.jpg,.png" formControlName="file"
                            style="display:none;" >
                        <span class="Upload">JPG, GIF, SVG, WEBM Mx 100mb.
                            <img src="https://nft-marketplace-khanisic.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fupload.5644ab9e.png&w=128&q=75" class="img"/>
                            <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder">
                        </span>


                    </label>
                </div>
                <small class="form-text-text-muted"
                *ngIf="createNft.controls.file.touched && createNft.controls.file.errors?.required">
                PLEASE PROVIDE IMAGE FOR NFT!
            </small>


            </div>
            <div class="form-group2">
                <label for="exampleInputName1">Name</label>
                <textarea type="name" class="form-control" formControlName="name" placeholder="Name"></textarea>
                <small class="form-text-text-muted"
                    *ngIf="createNft.controls.name.touched && createNft.controls.name.errors?.required">
                    PLEASE ENTER NAME FOR NFT!
                </small>

            </div>

            <div class="form-group3">
                <label for="exampleInputDescription1" >Description</label>
                <textarea type="text" class="form-control1" formControlName="description" placeholder="Description"></textarea>
                <small class="form-text-text-muted"
                    *ngIf="createNft.controls.description.touched && createNft.controls.description.errors?.required">
                    PLEASE ENTER DESCRIPTION FOR NFT!
                </small>
            </div>

            <div class="form-group4">
                <label for="exampleInputPrice1">Price</label>
                <textarea type="price" class="form-control" formControlName="price" placeholder="Price"></textarea>
                <small class="form-text-text-muted"
                    *ngIf="createNft.controls.price.touched && createNft.controls.price.errors?.required">
                    PLEASE ENTER PRICE FOR NFT!
                </small>
            </div>

            <button type="submit" class="btn-primary" [disabled]="!createNft.valid">Create NFT</button>
        </form>
    </div>
</div>