

.main-contain {
    
    flex: auto;
    background-color: slategrey;
    height: 1100px;
    justify-self: center;
    
}

.contain{
    justify-self: center;
}

.text {
    align-self: center;
    margin-left: 30%;
    font-size: 30px;
    font-family:fantasy;
    font-variant: small-caps;
    padding-top: 10px;
    
}

.upload-file {
    align-self: center;
    margin-left: 30%;
    font-size: 22px;
    font-family: fantasy;
    font-variant: small-caps;
    margin-top: 20px;


}

.form-group1 {
    display: flex;
    align-self: center;
    margin-left: 30%;
    font-size: 25px;
    font-family: fantasy;
    font-variant: small-caps;
    margin-top: 2%;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    margin-top: 0.5%;
    border-radius: 13px;
    border-color: black;
    background-color: white;
    border-width: 1px;
    border: dashed;
    align-items: center;

}

.form-group2{
    display: flex;
    align-self: center;
    margin-left: 30%;
    font-size: 25px;
    font-family: fantasy;
    font-variant: small-caps;
    margin-top: 2%;
    flex-direction: column;
}

.form-control{
width: 50%;
    height: 50px;
    border-radius: 13px;
    margin-top: .5%;
    padding-left: 10px;
    /* padding-top: 15px; */
    border-left-width: medium;
    border-top-width: medium;
    border-style:ridge;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 22px;

}

.form-group4{
    display: flex;
    align-self: center;
    margin-left: 30%;
    font-size: 25px;
    font-variant: small-caps;
    font-family: fantasy;
    margin-top: 2%;
    flex-direction: column;
}

.form-group3{
    display: flex;
    align-self: center;
    margin-left: 30%;
    font-size: 25px;
    font-variant: small-caps;
    font-family: fantasy;
    margin-top: 2%;
    flex-direction: column;
    justify-self: flex-start;
}

.form-control1{
    width: 50%;
    height: 125px;
    border-radius: 13px;
    margin-top: .5%;
    padding-left: 10px;
    padding-top: 10px;
    border-left-width: medium;
    border-top-width: medium;
    border-style:ridge;
    font-size: 22px;
    font-family: fantasy;
    font-variant: small-caps;

    

}

.btn-primary{
    margin-left: 60%;
    margin-top: 1%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color:silver;
    font-size: 15px;
}

.img{
    background-color: black;
    height: 75px;   
    width: 75px;
    margin-left: 130px;
    margin-top: 30px;
}
.Upload{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: fantasy;
    font-variant: small-caps;
}
.hand-cursor{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-variant: small-caps;
}

.form-text-text-muted{
    color:brown;
}