.main{
    width: 100%;
    height:100%;
}

.row{
    display: flex;
}

.colum{
    display: flex;
    flex-direction: column;
    background-color:blanchedalmond;
    width:25%;
    border-width: 5%;
    height: 500px;
    border-spacing: 20%;
    border: 1px solid lightslategrey;
    border-style:outset;
    align-items: center;
    margin-bottom: 5px;
    border-bottom-left-radius: 10% ;
    border-bottom-right-radius:10%;

}

.img {
    border: 12px;
    border-style:double;
    width: 100%;
    object-fit:fill;
    float: left;
    height: 300px;
}

.img-block{
    display: flex;
    width: 100%;
}

.name{
    font-weight: 800;
    font-family: fantasy;
    font-variant: small-caps ;
    font-size: 30px;
    text-decoration:underline;
}

.price-row {
    display: flex;
    background-color: blueviolet;
    width: 100%;
    font-family: fantasy;
    font-variant: small-caps;
    font-size: 25px;
    height: 50px;
    border: 3px;
    border-style:solid;

}

.col-1 {
    background-color: chocolate;
    align-items: flex-start;
    text-size-adjust: inherit;
    width: 75%;
    overflow-wrap: break-word;
    height: 100%;
    text-align: center;
    font-size: 30px;
    border-right: 3px;
    border-right-style: solid;
}

.col{
    align-items: flex-end;
    font-size: 30px;
    margin-left: 2px;
    text-align: center;

}

button{
    border-radius: 15%;
    margin-top: 15px;
    font-family: fantasy;
    font-weight:700;
    font-size: 20px;
}

